 body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(207, 210, 250);
}
h1{
    text-align: center;
color: darkslateblue;
}

.title{
    color: brown;
    text-align: center;
}
.space{
    width: 900px;
    height: 650px;
    margin-left: 950px;
} 
.wrap{
    display: flex;
}
.link{
    color: black;
    text-decoration: none;
    border: 1px solid royalblue;
    padding: 10px 20px;
    border-radius: 15px;
}
p{
    font-size: 26px;
    text-align: center;
}
h2{
    text-align: center;
    color: indigo;
    font-size: 30px;
}
a{
    font-size: 30px;
}