 body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
color:blueviolet
}

.title{
    color: aqua;
    text-align: center;
}
.pig{
    width: 400px;
    height: 300px;
    margin-left: 700px;
} 
.wrap{
    display: flex;
}