 body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
color:blueviolet
}

.title{
    color: aqua;
    text-align: center;
}
.pig{
    width: 400px;
    height: 300px;
    margin-left: 400px;
} 
.wrap{
    display: flex;
}
.link{
    color: black;
    text-decoration: none;
    border: 1px solid royalblue;
    padding: 10px 20px;
    border-radius: 15px;
}